<div>
  <h2 style="width:240px;display:inline-block;vertical-align:top;">みてみたい自治体は？</h2>
  <select id="local-gov">
    <optgroup label="八王子市">
      <option value="hachioji_budget,2013" selected="selected">八王子市 平成 25 年度</option>
      <option value="hachioji_budget,2012">八王子市 平成 24 年度</option>
      <option value="hachioji_budget,2011">八王子市 平成 23 年度</option>
    </optgroup>
    <optgroup label="糸魚川市">
      <option value="itoigawa_budget_2014,2014">糸魚川市 平成 26 年度</option>
    </optgroup>
  </select>
</div>
